<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BASTA</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Inicio </a>
            </li>
            <!--<li>
              <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
            </li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                        class="glyphicon glyphicon-info-sign"></span> Opciones <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Consola Administrativa</a></li>
                    <li><a href="">Configuraciones</a></li>
                    <li><a href="">Alertas</a></li>
                </ul>
            </li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
            <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
          </li>
        </ul>-->
    </div>
</nav>
<div class="jumbotron text-center">
        <div class="container">
            <h1>Alertas</h1>
        <!--<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
        </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="row table-responsive"><!-- col-md-7 -->
                <table id="predictionTable" class="table">
                    <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Tweet</th>
                        <th>Predicción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prediction, rowStat: ${predictions}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${prediction.user}">Nan</td>
                        <td th:text="${prediction.message}">0</td>
                        <td th:text="${prediction.value}">Nan</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--<h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
            <ul>
              <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

              <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
              <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
              <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
            </ul>-->
        </div>
        <!--<div class="col-md-6">-->
            <!--<h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
            <ul>
              <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
              <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
              <ul>
                <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
                <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
                <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
                <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
              </ul>
            </ul>-->
          <!--  <h3><span class="glyphicon glyphicon-link"></span>Accesos</h3>
            <ul>
                <li><a href="https://twitter.com/basta_project">Twitter</a></li>
            </ul>
        </div>-->
    </div> <!-- row -->
    <!---<div class="alert alert-info text-center" role="alert">
     Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
   </div>-->
</div>


</body>
</html>